body{

background:#F5F8FF;

}
.middle-content{
width: 1200px;
margin: auto;
}
.header-contant{
border: 1px solid ;
height: 698px;
background-image: url(image/Hero-bg.png);
}
.section-contant{
border: 1px solid ;
width: 100%;
}
.nav-contant{
border: px solid ;

}
.nav-contant-ul{
margin: 0;
display: flex; 
justify-content: space-between;
text-align: center;
list-style: none;
border: 1px solid ;

}
.nav-li{

}
.li-heading{
margin-top: 46px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
font-size: 34px; 
color: blue;
}
.li-button{
margin: 20px;
width: 100px;
padding: 16px;
background: #4E47FF;
color: aliceblue;
border-radius: 8px;
}
.btn:hover{
background: #000;
color: aliceblue;

}
.li-heading1{

}
.banner{
text-align: center;
margin: 158px ;
}
.banner-text{
font-size: 18px;
font-weight: bold;
}
.banner-button{
background: #4E47FF;
color: aliceblue;
padding: 10px;
width: 174px;
font-size: 17px;
font-weight: bold;
border-radius: 10px;
height:48px ;
}
.middle-content1{
border: 1px solid;
display: flex;
justify-content: space-between;
margin-top: 116px;
}
.main-top{

}
.main-top-h1{
font-size: 42px;
font-weight: bold;
}
.main-top-button{
background: #4E47FF;
color: aliceblue;
padding: 10px;
border-radius: 6px;
height: 54px;
width: 229px;
}
.main-top-img img{
border-radius: 48px;
}
.main-top-pera{
font-size: 36px;


}
.second-middle-content{
border: 1px solid;

background: #bcbbe783;
margin-top: 116px;
height: 306px;
border-radius: 24px;
text-align: center;
}
.second-middle-content-main{
display: flex;
justify-content: space-between;
align-items: flex-end; 
}

.second-middle-content1{
font-size: 30px;
font-weight: bold;
color:#4c46e9;
font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 30px;

}
.second-middle-content-h6{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
color: rgba(117, 107, 107, 0.856);
font-size: 20px;
margin: 0px 0px ;
}
.second-middle-content0{
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
}








.touch-section{
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 632px;
  margin-top: 116px;


}
.touch-section-child{
height: 490px;
}
.touch-section-child1{
border: 1px solid;
height: 490px;
width: 464px ;
}
.tuch-h1{
font-size: 97px;
font-weight: bold;

}
.touch-section-child1-form{
  

}
input{
  border-radius: 10px;
  padding: 20px;
  width: 420px;
  margin: 10px 0px;
}
textarea{
    border-radius: 10px;
  padding: 20px;
  width: 422px;
  height: 135px;
}
.input-btn{
width: 100%;
padding: 20px;
border-radius: 5px;
background: #4E47FF;
color: white;
font-size: 17px;
font-weight: bold;
}
footer {
background: #fcfcfc;
height: 428px;

}
.foote-main{
  display: flex;
  justify-content: center;

border: 1px solid ;
}
.foote-main-child{
width: 531px;
height: 221px;
border: 1px solid ;
text-align: center;
}
.foote-main-child1{

}
.foote-main-child-ul{
list-style: none;

}
.foote-main-child-ul,li{
color: rgba(0, 0, 0, 0.5);
display: flex;
justify-content: center;
gap: 70px;

}
.footer-h1{

font-size: 100px;
font-weight: 900;
font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #0758d1ec;
  margin: 10px;

}